@CHARSET "UTF-8";
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, 
fieldset, input, textarea, p, blockquote, th, td{
    margin: 0; 
    padding: 0;
}
html{
    overflow-y: scroll;
}
h1, h2, h3, h4, h5, h6{
    font-size: 100%; 
    font-weight: normal;
}
ol, ul{
    list-style:none;
}
fieldset, img{
     border:0;
}
table{
    border-collapse: collapse; 
    border-spacing:0;
}
caption, th{
    text-align: left;
}
address, caption, cite, code, dfn, em, strong, th, var{
    font-style: normal; 
    font-weight: normal;
}
body{
	margin: 0; 
    padding: 0;
	font-size: 13px;
	color:#fff;
	font-family: Arial, Helvetica, Verdana, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック";
	background: #08142b; /* Old browsers */
	background: #08142b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDgxNDJiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDglIiBzdG9wLWNvbG9yPSIjMGEyNDM4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE3MTgyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  #08142b 0%, #0a2438 48%, #17182b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#08142b), color-stop(48%,#0a2438), color-stop(100%,#17182b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #08142b 0%,#0a2438 48%,#17182b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #08142b 0%,#0a2438 48%,#17182b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #08142b 0%,#0a2438 48%,#17182b 100%); /* IE10+ */
	background: linear-gradient(135deg,  #08142b 0%,#0a2438 48%,#17182b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08142b', endColorstr='#17182b',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
#canvas-wrapper{
	position:absolute;
}
#header li{
	float:left;
	margin-right:20px;
}
.clear{
	clear:both;
}
h1{
	display:none;
	font-size:48px;
	position:absolute;
}
